<form action="contact" method="POST">
	<label for="name">Name</label>
	<input type="text" name="username" placeholder="Name">
	<label for="name">Email</label>
	<input type="number" name="email" placeholder="Email">
	<label for="name">Comment</label>
	<input type="textarea" name="comment" placeholder="Comment">

	<input type="submit" value="Submit">
	
</form>