<div class="section sectionOne">
		<div class="wallpaper"> 
		</div>
	</div>
	<div class="subSection">
		<div class="message">
			<p>I believe in you… There are perhaps no more empowering words in the English language, yet how often do we hear those words? DeAnne Stidham heard them, and at a crucial time in her life. She was a single mother raising seven children and trying to balance time at work and at home. She was desperate to find a way to be at home, be a mom and provide for her family.<br><br>

			DeAnne met a pair of dress wholesalers and was inspired to start liquidating end of season dresses to friends and family. The wholesalers heard her pitch and saw in DeAnne the talent and drive to make her dreams a reality. They believed in her. This was born out of DeAnne’s desire to be at home with her children and the faith that others showed in her.<br><br>

			You can do it… Prior to LuLaRoe DeAnne had found success in network-based marketing. It was during this time that she learned an important lesson; if you want to be someone who gets things done, act like you already are. This self-empowering idea crystallized in her mind and directly led to her success with LuLaRoe.</p>
		</div>
	</div>
	<div class="section sectionTwo">
		<div class="wallpaper">
		</div> 
	</div>
	<div class="subSection">
		<div class="message">
			<p>DeAnne had long dreamed of one day creating her own clothing line. With the help of her husband Mark, LuLaRoe was launched. As LuLaRoe grew DeAnne knew she could not do this alone, so she turned to her family to find those talented individuals that could help the company grow.<br><br>

			She came to believe that if you want someone else to be successful, treat them as if they are, and they will become that person. This idea, known as the Pygmalion Effect which was dramatized in the movie My Fair Lady, helped lead to the creation of LuLaRoe.<br><br>

			I believe in you and you can do it are the basic principles guiding LuLaRoe today. The ethos of the company was borne out of DeAnne’s desire to share her experiences and to provide her family and others a foundation for personal success.<br><br>

			LuLaRoe exists to provide an opportunity for people to create freedom by selling comfortable, affordable, stylish clothing, and offering its consultants the independence to set their own pace and schedule. This creates the time to spend with those closest to them, the very thing DeAnne had once desired for herself!</p>
		</div>
	</div>
	<div class="section sectionThree">
		<div class="wallpaper" >
		</div>
	</div>
