<div class="headerimage">
	<img class="toppic" src="pictures/headershop.jpg">
</div>
<div id="collection">
	<img class="col" src="pictures/col1.jpg">
	<img class="col" src="pictures/col2.jpg">
	<img class="col" src="pictures/col3.jpg">
	<img class="col" src="pictures/col4.jpg">
	<img class="col" src="pictures/col5.jpg">
	<img class="col" src="pictures/col6.jpg">
	<img class="col" src="pictures/col7.jpg">
	<img class="col" src="pictures/col8.jpg">
</div>