* {
	margin: 0;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6 , p {
	margin-bottom: 20px;
}
#logo{
	width:;
	height: 120px;
}
.headerimage{
	width: 100%;
}
.toppic{
	width: 100%;
}
.blocks{
	display: inline-block;
}
.abouttext{
	width: 70%;
	padding: 20px 15px 0 15px;
	float: left;
}
.aboutsidepic{
	width: 25%;
	height: 340px;
	padding: 0 5px;
	float: left;
}
#collection{
	width: 100%;
	padding: 0 15%;
	margin: 0 auto;
	display: inline-block;
}
img.col{
	width: 48%;
	padding: 1%;
}
body{
	font-family: verdana;
	font-size: 16px;
}
form{
	margin: 10px;
}
input[type=text], input[type=email], input[type=message]{
	display: flex;
	border: 1px solid silver;
	border-radius: 4px;
	padding: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
div#content{
	background-color: #ffcde0;
	border-radius: 4px;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}
input[type=submit]{
	padding: 5px, 10px;
	background-color: #ff2275;
	border-radius: 4px;
	border: 1px solid #e7226c;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
.section {
	height: 80%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.subSection {
	height: 40%;
	padding: 20px;
}
.sectionOne {
	background-image: url("pictures/headerabout.jpg");
}
.sectionTwo {
	background-image: url("pictures/photo5.jpg");
}
.sectionThree {
	background-image: url("pictures/photo6.jpg");
}
.message {
	font-size: 15px;
	color: purple;
	width: 100%;
	text-align: center;
}

